# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# Environment Variables
.env

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Python Packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary Files
*.tmp
*.temp

# Cache
.cache/

# ==============================
# Keep these folders
# ==============================
!models/
!outputs/
!report/
!notebooks/